<form>
    <h2>Event {{ event.id }} - {{ event.name }}</h2>
    <div class="form-group">
        <label for="eventName">Name:</label>
        <input id="eventName" type="text" class="form-control" placeholder="Event Name">
    </div>
    <div class="form-group">
        <label for="eventDescription">Description:</label>
        <input id="eventDescription" type="text" class="form-control" placeholder="Event Description">
    </div>
    <button class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> Save</button>
    <button class="btn btn-default" (click)="cancel()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
</form>